<%- include('../partials/header') %>

<h2>Flights</h2>
<table>
    <thead>
        <th>Property</th>
        <th>Type</th>
        <th>Validations</th>
        <th>Deafault Value</th>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
            <tr>
                <td><%= f.airline %></td>
                <td><%= f.airport %></td>
                <td><%= f.flightNu %></td>
                <td><%= f.departs %></td>
            </tr>
            <% }); %>
    </tbody>
</table>
<%- include('../partials/footer') %>